<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watches home | Casio</title>
    <link rel="shortcut icon" href="../public/assets/images/Casio_favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js" defer></script>
    
  </head>
  <body>
    <div class="wrapper">
      <main id="content">
        <header class="header">
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Casio_logo.svg" alt="" class="logo" /> -->
          <img src="../public/assets/images/Casio_logo_nuevo.png" loading="lazy" alt="logo" class="logo" />
          <nav class="navbar">
            <a href="#home">Information</a>
            <a href="#news">News</a>
            <div class="dropdown">
              <button class="dropbtn">Service 
                <span class="material-symbols-outlined">
                  keyboard_arrow_up
                </span>
              </button>
              <div class="dropdown-content">
                <a href="#">Souvenirs and Premium Products</a>
                <a href="#">Apps</a>
              </div>
            </div> 
            <a href="#news">Support</a>
            <div class="dropdown">
              <button class="dropbtn">Corporate 
                <span class="material-symbols-outlined">
                  keyboard_arrow_up
                </span>
              </button>
              <div class="dropdown-content">
                <a href="#">Corporate TOP</a>
                <a href="#">About CASIO</a>
                <a href="#">News</a>
                <a href="#">Investor Relations</a>
                <a href="#">Sustainability</a>
              </div>
            </div> 
          </nav>
          <!-- icono de hamburguesa -->
          <span class="material-symbols-outlined"> menu </span>
        </header>
        <section class="section--hero">
          <div class="hero-carousel">
            <button class="hero-arrow hero-arrow-left" aria-label="Anterior">
              <span class="material-symbols-outlined">arrow_back_ios</span>
            </button>
            <div class="hero-carousel-track">
              <img class="hero-slide active" src="/public/assets/images/hero1.avif" loading="lazy" alt="Hero 1" />
              <img class="hero-slide" src="/public/assets/images/hero2.avif" loading="lazy" alt="Hero 2" />
              <img class="hero-slide" src="/public/assets/images/hero3.avif" loading="lazy" alt="Hero 3" />
              <img class="hero-slide" src="/public/assets/images/hero4.avif" loading="lazy" alt="Hero 4" />
              <img class="hero-slide" src="/public/assets/images/hero5.avif" loading="lazy" alt="Hero 5" />
              <img class="hero-slide" src="/public/assets/images/hero6.avif" loading="lazy" alt="Hero 6" />
            </div>
            <button class="hero-arrow hero-arrow-right" aria-label="Siguiente">
              <span class="material-symbols-outlined">arrow_forward_ios</span>
            </button>
            <div class="hero-radio-buttons">
              <span class="material-symbols-outlined checked">radio_button_checked</span>
              <span class="material-symbols-outlined unchecked">radio_button_unchecked</span>
              <span class="material-symbols-outlined unchecked">radio_button_unchecked</span>
              <span class="material-symbols-outlined unchecked">radio_button_unchecked</span>
              <span class="material-symbols-outlined unchecked">radio_button_unchecked</span>
              <span class="material-symbols-outlined unchecked">radio_button_unchecked</span>
            </div>
          </div>
        </section>
        <section class="section--new_watches">
          <h2>New Watches</h2>
          <div class="carousel">
            <ol class="carousel__viewport">
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product1.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">G-5600SFJ-9</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product2.png" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">PRO TREK</p>
                    <p class="product--code">PRW-35LD-5</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product3.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">MRG-BF1000RG-3A</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product4.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">MTG-B2000YBD-2A</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product5.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GBX-100S-1</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product6.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GBX-100S-2</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product7.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GA-B2100BBR-1A</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product8.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GA-700BBR-1A</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product9.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GD-010BBR-1</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product10.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GX-56BBR-1</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product11.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">DW-5600BBR-1</p>
                  </div>
                </article>
              </li>
              <li class="carousel__slide">
                <article class="article--product">
                  <div class="product--img">
                    <img src="../public/assets/images/product12.avif" loading="lazy" alt="" />
                  </div>
                  <div class="product--info">
                    <p class="product--title">G-SHOCK</p>
                    <p class="product--code">GA-110HDS-7A</p>
                  </div>
                </article>
              </li>
            </ol>
          </div>
        </section>
        <section class="section--about_us">
          <h2>About us</h2>
          <article class="article--about_us">
            <p>
            Casio is a global leader in consumer electronics, renowned for its innovative products that blend technology with style. From watches to calculators, Casio's commitment to quality and functionality has made it a household name. The brand's iconic G-SHOCK line is celebrated for its durability and cutting-edge features, appealing to both outdoor enthusiasts and fashion-forward individuals. 
            <br><br>
            With a rich history of over 70 years, Casio continues to push the boundaries of design and technology, ensuring that every product meets the diverse needs of its customers worldwide.
          </p>
          <img src="../public/assets/images/about us.jpeg" alt="">
          </article>
        </section>
        <footer class="footer">
          <span class="footer--root">Home / Watches Home</span>
          <div>
            <article>
              <ul>
                <li>Products</li>
                <li>Home</li>
              </ul>
            </article>
            <article>
              <ul>
                <li>Costumer Support</li>
                <li>Support</li>
              </ul>
            </article>
            <article>
              <ul>
                <li>Corporate</li>
                <li>Corporate TOP</li>
                <li>About CASIO</li>
                <li>News</li>
                <li>Investor Relations</li>
                <li>Sustainability</li>
              </ul>
            </article>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
